name: CI/CD Pipeline

on:

  push:

    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    env:

      GIT_URL: https://github.com/Khalid12Clover/pharmacy_node.git

          GIT_BRANCH: main

          DOCKER_REGISTRY: mudassir376/automation-backend

          DOCKER_CREDENTIALS_ID: asadad

          DOCKER_IMAGE: Myappimage

          KUBE_NAMESPACE: default

          KUBE_DEPLOYMENT: sadakdj

          KUBECONFIG: environment/Kube

    steps:

    - uses: actions/checkout@v4

    - name: Build

      run: npm install

    - name: Test

      run: npm test

    - name: Docker Build & Push

      run: |

        docker build -t ${{ env.DOCKER_IMAGE }} .

        docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }} ${{ env.DOCKER_REGISTRY }}

        docker push ${{ env.DOCKER_IMAGE }}

    - name: Deploy to Kubernetes

      run: kubectl set image deployment/${ env.KUBE_DEPLOYMENT } ${ env.KUBE_DEPLOYMENT }=${ env.DOCKER_IMAGE } -n ${ env.KUBE_NAMESPACE }
